Q1. Explain with an example each when to use a for loop and a while loop.

Ans. The work of both loop are same but when
we know the termination point(end point) we can use a for loop and we evaluate using range and data are in sequence or order
but if we have no idea about the termination point we usa a while loop and operation on a data out of order or when we given a condition because it terminate when the condition return false.
Example :
for loop -->
To calculate factorial of a number

In [8]:
number = int(input("Enter the Number whose factorial you want to find = "))
factorial = 1
for i in range(1,number -1):
    factorial = factorial*number
factorial

Enter the Number whose factorial you want to find =  5

125

Example : While loop -->

In [9]:
n = int(input("Enter the number for fibbo"))
a , b = 0 , 1
counter = 0
while counter< n:
    print(a)
    c = a+b
    a=b
    b=c
    counter =counter +1

Enter the number for fibbo 13

0
1
1
2
3
5
8
13
21
34
55
89
144

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

Ans. To print sum and product of the first 10 natural numbers(1 to 10) using for  loop :

In [16]:
sum_num=0
product = 1
for i in range(1,11):
    sum_num += i
    product *= i
print("Sum of the first 10 natural numbers = ",sum_num)
print("Product of the first 10 natural numbers =",product)

Sum of the first 10 natural numbers =  55
Product of the first 10 natural numbers = 3628800

To print sum and product of the first 10 natural numbers(1 to 10) using while loop :

In [17]:
count = 1
sum_num=0
product = 1
while count <= 10:
    sum_num += count
    product *= count
    count += 1
print("Sum of the first 10 natural numbers = ",sum_num)
print("Product of the first 10 natural numbers =",product)

Sum of the first 10 natural numbers =  55
Product of the first 10 natural numbers = 3628800

Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

Ans. We use if and elif and else condition.

In [22]:
unit = int(input("Enter the units of electricity consumed in a month = "))
if unit > 0 and unit <= 100 :
    bill = unit * 4.5
elif unit > 100 and unit <= 200 :
    bill = 100 * 4.5 + (unit - 100) * 6
elif unit > 200 and unit <= 300 :
    bill = 100 * 4.5 + 100 * 6 + (unit - 200) * 10
else :
    bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (unit - 300) * 20
print("the total electricity bill of the user = ",bill)

Enter the units of electricity consumed in a month =  310

the total electricity bill of the user =  2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

Ans. Create a list

In [23]:
l = list(range(1,101))

In [24]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

OR

In [25]:
l=[]
for i in range(1,101):
    l.append(i)

In [26]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

To calculate cube using for loop -->

In [27]:
l1 = []
for i in l:
    l1.append(i*i*i)

In [28]:
l1

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

To calculate cube using while loop -->

In [29]:
l2 = []
i=1
while i <= 100:
    l2.append(i*i*i)
    i +=1

In [30]:
l2

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

 the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [31]:
l3=[]
lenght = len(l2)
i=1
n=0
while n < length :
    if l2[n] % 4 == 0 or l2[n] % 5 == 0 :
        l3.append( l[n] )
        n += 1
    else :
        n += 1

In [32]:
l3

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

Q5. Write a program to filter count vowels in the below-given string.
    string = "I want to become a data scientist"

Ans.

In [45]:
s = "I want to become a data scientist"
s = s.lower()
l = ["a","e","i","o","u"]
l1=[]
count = 0 
for i in s :
    if i in l :
        l1.append(i)
        count += 1
print("The number of vowels in string is = ", count)

The number of vowels in string is =  12

In [46]:
l1

['i', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']